amqp==5.3.1
asgiref==3.9.1
async-timeout==5.0.1
attrs==25.3.0
billiard==4.2.1
celery==5.3.4
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==42.0.2
defusedxml==0.7.1
django==5.2.6
django-allauth==0.60.1
django-api-generator==1.0.17
django-celery-results==2.5.1
django-debug-toolbar==4.2.0
django-quill-editor==0.1.40
djangorestframework==3.14.0
drf-spectacular==0.26.5
gunicorn==21.2.0
hiredis==2.2.3
idna==3.10
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kombu==5.5.4
oauthlib==3.3.1
packaging==25.0
pillow==10.2.0
pip==25.2
prompt-toolkit==3.0.52
pycparser==2.23
pyjwt==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2025.2
pyyaml==6.0.2
redis==5.0.1
referencing==0.36.2
requests==2.32.5
requests-oauthlib==2.0.0
rpds-py==0.27.1
setuptools==59.6.0
six==1.17.0
sqlparse==0.5.3
str2bool==1.1
typing-extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
uv==0.8.17
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.5.0
